.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  color: #525252;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
}

.experiencia-texto strong {
  color: #141414;
}

.projetos {
  display: grid;
  gap: 10px 20px;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
}

.projetos::before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 20px;
  left: -4px;
  top: 20px;
  background: linear-gradient(#f93535, #ff8aa6);
}

.ano-projeto {
  position: absolute;
  top: 22px;
  left: -100px;
  width: 80px;
  text-align: right;
  color: #525252;
  font-size: 0.875rem;
}

.titulo-projeto {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.texto-projeto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.projeto-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.experiencia li {
  font-size: 0.875;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #000;
  }
  .texto-projeto {
    font-size: 1.25rem;
  }
  .ano-projeto {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .projetos {
    grid-template-columns: 1fr;
  }
}
